################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Extras
/GuestHouseDB/GuestHouseDB.dbmdl
/GuestHouseDB/GuestHouseDB.jfm
/GuestHouseDB/obj/
/GuestHouseDB/bin/
/GuestHouse/obj/
/GuestHouse/bin/
*/.vs
*.suo
*.user
*.userosscache
*.sln.docstates
*.mdf
*.ldf
