################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Extras
/GuestHouseDB/GuestHouseDB.dbmdl
/GuestHouseDB/GuestHouseDB.jfm
/GuestHouseDB/obj/
/GuestHouseDB/bin/
/GuestHouse/obj/
/GuestHouse/bin/
*/.vs/
/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.mdf
*.ldf
*.log
*.cache
/.a11yrc
