################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Extras
/GuestHouseDB/GuestHouseDB.dbmdl
/GuestHouseDB/GuestHouseDB.jfm
